<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448365421824-k16lssktnobhd4mmue6jpn21q8r9c0r4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448365421824-k16lssktnobhd4mmue6jpn21q8r9c0r4</string>
	<key>API_KEY</key>
	<string>AIzaSyARzx5rBwLg28biU0MyxDd8d8G0Tmab4W8</string>
	<key>GCM_SENDER_ID</key>
	<string>448365421824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zonaHub</string>
	<key>PROJECT_ID</key>
	<string>zonahub-b021c</string>
	<key>STORAGE_BUCKET</key>
	<string>zonahub-b021c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448365421824:ios:8574df9be7318a61e3ffe5</string>
</dict>
</plist>